@page
@model FutebolDoBairro.Pages.IndexModel
<h2>Cadastro realizado com sucesso!</h2>
<p>Você receberá um e-mail com as informações sobre treinos e jogos.</p>
<a asp-page="/Treinos" class="btn btn-primary">Voltar para Treinos</a>