@page
@model FutebolDoBairro.Pages.IndexModel

@{
    ViewData["Title"] = "Informações de Treino";
}

<h1>Informações de Treinos e Jogos</h1>

<ul>
    <li><strong>Data dos Treinos:</strong> Todas as terças e quintas-feiras.</li>
    <li><strong>Horários dos treinos:</strong> 18h00 às 20h00</li>   
    <li><strong>Local:</strong> Campo de Futebol - Imbariê</li>
    <li><strong>Data dos Jogos:</strong> Todos os Sábados</li>
    <li><strong>Campeonatos Futuros:</strong> Jovens Talentos Futebol - Outubro</li>
    <li><strong>Observação:</strong> Em breve, enviaremos notificações por e-mail com lembretes!</li>
    
</ul>